.container {
    width: auto;
    padding: 0px;
    padding-top: 50px;
    box-shadow: 0 0 10px #ddd;
    text-align: center;
}

.navbar {
    z-index: 1;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
}

.panel-body {
    width: auto;
}

.col-xs-6.col-sm-6.col-md-6.col-lg-8 {
    margin: 0px;
    padding: 10px;
    max-width: 200px;
    min-width: 160px;
}

.clickable {
    cursor: pointer;
}

.center-text {
    text-align: center;
    display: inline-block;
}

.hidden {
    display: none;
}

.thumbnail > img{
    width: 128px;
    height: 180px;
}

.text-overflow {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}