img {
    max-width: 100%;
}

.center > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fit-height > img {
    padding-top: 50px;
    width: auto;
    max-height: 100%;
}

.navbar {
    width: 100%;
}

.white {
    color: #fff;
}

.dropdown-menu {
    max-height: 360px;
    overflow: hidden;
    overflow-y: auto;
}