img {
    max-width: 100%;
}

.center > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fit-height > img {
    padding-top: auto;
    width: auto;
    max-height: 100%;
}

.navbar {
    width: 100%;
}